<div class="container">
  <div class="formForSign">
    <form name="form">
      <p>Login :</p>
      <input type="text" [(ngModel)]="userLogin" name="userLogin" placeholder="Enter login">
      <p>Password :</p>
      <input type="password" [(ngModel)]="userPassword" name="userPassword" placeholder="Enter password">
      <p>Email address :</p>
      <input type="email" [(ngModel)]="userEmail" name="userEmail" placeholder="Enter @mail"><br>
      <input *ngIf="!editStatus" [disabled]="noInfo" (click)="addUser()" type="button" id="addUser" name="addUser"
        value="Add user">
      <input *ngIf="editStatus" (click)="saveEditUser()" type="button" id="editUser" value="Edit user">
    </form>
  </div>
  <div class="userData">
    <table id="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Login</th>
          <th>Password</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ user.login }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.email }}</td>
          <td><button class="editBtn" (click)="editUser(i)">Edit</button></td>
          <td><button class="deleteBtn" [disabled]="status" (click)="deleteUser(i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
