<div class="container">
  <div class="smallbox">
    <a [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">
      <div class="cenzorLink">Cenzor</div>
    </a>
  </div>
  <div class="smallbox">
    <a [routerLink]="[ '/works/userlist' ]" routerLinkActive="active">
      <div class="userListLink">User List</div>
    </a>
  </div>
  <div class="smallbox">
    <a [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active">
      <div class="taskListLink">Task List</div>
    </a>
  </div>

</div>
